@font-face {
    font-family: 'CustomFont';
    src: url('./assets/fonts/rubik/Rubik-Bold.ttf') format('truetype');

}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CustomFont', sans-serif;
    /* Use the font-family you defined */
}