@font-face {
    font-family: 'CustomFont';
    src: url('./assets/fonts/rubik/Rubik-Bold.ttf') format('truetype');

}

body {
    font-family: 'CustomFont', sans-serif;
    /* Use the font-family you defined */
}